header {
	margin-bottom: 2.5rem;
}

.title-label {
	letter-spacing: 0.125rem;
}

main {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.category-container {
	margin-bottom: 2.5rem;
	margin-right: 2.5rem;
	padding: 0.6rem;
	width: 14rem;
}

.category-container>hr {
	margin-bottom: 0.35rem;
	margin-top: 0.35rem;
}

.category-label {
	font-size: 1.17rem;
}